.player {
    background-color: #f1f3f4;
}
.rplayer {
}

.icon {
    color: black;
}

.icon:hover {
    color: black;
    cursor: pointer;
}

.rplayer div {
    width: 100% !important;
    height: 55px !important;
}